<html>
<head>
    <title>Form in HTML</title>
    <style>
        div{background-color: #7fffd4; height: 50px;}
    </style>
</head>
    <body>
        <h1 style = "text-align: center;">Instagram Reach Time Prediction System</h1>
        <form action = "{{url_for('predict_datapoint')}}" method = "POST">
            <fieldset>
                <legend>User Information:</legend>            
            <div class="form-group">
                <label for = "Username">Username:</label><br>
                <input type = "text" id = "Username" name = "Username"/><br>                                
                </div>            
            <div class="form-group">
                <label for = "Caption">Caption:</label><br>
                <input type = "text" id = "Caption" name = "Caption"/><br>                               
            </div>      

            <div class = "form-group">
                <label for = "Followers">Followers:</label><br>
                <input type = "text" id = "Followers" name = "Followers"/><br>       
            </div>
            <div class = "form-group">
                <label for = "Hashtags">Hashtags:</label><br>
                <input type = "text" id = "Hashtags" name = "Hashtags"/><br>
                </select>
            </div>    
        <div style = "clear:both;"></div>
        <input type = "submit" value = "Submit">
    </fieldset>
    </form>
    </body>
</html>