<html>
    <body>
        <form action = "{{url_for('predict_datapoint')}}" method = "POST">
            <div class="form-group">
                <label for="Username">Username:</label>
                <select id="Username" name="Username">
                    <input type = "text" id = "Username" name = "Username" placeholder = "Enter the Followers value(str)">
                </select>
            </div>
            
            <div class="form-group">
                <label for="Caption">Caption:</label>
                <select id="Caption" name="Caption">
                    <input type = "text" id = "Caption" name = "Caption" placeholder = "Enter the Followers value(str)">
                </select>
            </div>
            

            <div class = "form-group">
            <label for = "Followers">Followers:</label>
            <select id = "Followers" name = "Followers">
             <input type = "text" id = "Followers" name = "Followers" placeholder = "Enter the Followers value(int)">
                </select> 
            </div>

             <div class = "form-group">
            <label for = "Hashtags">Hashtags</label>
            <select id = "Hashtags" name = "Hashtags"></select>
            <input type = "text" id = "Hashtags" name = "Hashtags" placeholder = "Enter the Followers value(str)">
                </select>
            </div>
            
        

        <div style = "clear:both;"></div>
        <input type = "submit" value = "Submit">

    </form>
    </body>
</html>